# IMPORTING THE LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# READING THE DATASET

In [2]:
data=pd.read_csv("waterdatax.csv")

# ANALYSE THE DATA

In [3]:
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [4]:
data.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [6]:
data.shape

(1991, 12)

# **LABEL ENCODING**

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
le = LabelEncoder()
data["state"] = le.fit_transform(data["state"])
data["location"] = le.fit_transform(data["location"])
data["station"] = le.fit_transform(data["station"])

In [37]:
data

,station,location,state,Temp,do,ph,co,bod,na,FECAL COLIFORM (MPN/100ml),...,nbdo,nec,nna,wph,wdo,wbdo,wec,wna,wco,wqi
0,32,83,21,30.600000,6.7,7.5,203.0,6.940049,0.100000,11,...,60,60,100,16.5,28.10,14.04,0.54,2.8,22.48,84.46
1,33,664,51,29.800000,5.7,7.2,189.0,2.000000,0.200000,4953,...,100,60,100,16.5,22.48,23.40,0.54,2.8,11.24,76.96
2,56,665,51,29.500000,6.3,6.9,179.0,1.700000,0.100000,3243,...,100,60,100,13.2,28.10,23.40,0.54,2.8,11.24,79.28
3,260,495,51,29.700000,5.8,6.9,64.0,3.800000,0.500000,5382,...,80,100,100,13.2,22.48,18.72,0.90,2.8,11.24,69.34
4,261,496,51,29.500000,5.8,7.3,83.0,1.900000,0.400000,3428,...,100,80,100,16.5,22.48,23.40,0.72,2.8,11.24,77.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,25,537,101,26.209814,7.9,738.0,7.2,2.700000,0.518000,0.518,...,100,100,100,0.0,28.10,23.40,0.90,2.8,16.86,72.06
1987,48,345,101,29.000000,7.5,585.0,6.3,2.600000,0.155000,0.155,...,100,100,100,0.0,28.10,23.40,0.90,2.8,16.86,72.06
1988,35,154,101,28.000000,7.6,98.0,6.2,1.200000,1.623079,NAN,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44
1989,36,151,101,28.000000,7.7,91.0,6.5,1.300000,1.623079,NAN,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44
1990,98,67,101,29.000000,7.6,110.0,5.7,1.100000,1.623079,NAN,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44